<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Manage BoK current versions
      </h1>

      <div class="text-center" [hidden]="!isAnonymous">
        <h5>You need to <a href="#" routerLink="/login"> log in </a> to manage BoK versions. </h5>
      </div>

      <div *ngIf="!isAnonymous" class="card card-accent-primary">

        <div class="text-center" *ngIf="fileCS.loading">
          <br>
          <h5>Loading current versions ...</h5>

          <app-loading-indicator style="margin: auto;"></app-loading-indicator>

        </div>

        <br>
        <div class="">
          <div class="row" *ngIf="!fileCS.loading">

            <div *ngFor="let v of fileCS.listKeysAll, index as i" class="col-sm-12 col-md-8 offset-md-2 ">
              <div class="card card-accent-secondary">
                <h3 class="card-header text-center"> {{v}} version - {{fileCS.allBoKs[v].last_updated | date:'short'}}
                </h3>
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-6">
                      <p>Total Topics : {{fileCS.allBoKs[v].concepts.length}}</p>
                      <p>Total Learning Objectives : {{fileCS.allBoKs[v].skills.length}}</p>
                      <p>Total Relations : {{fileCS.allBoKs[v].relations.length}}</p>
                      <p>Total References : {{fileCS.allBoKs[v].references.length}}</p>
                      <p>Version number : {{fileCS.allBoKs[v].version}}</p>
                      <p>Last Updated : {{fileCS.allBoKs[v].last_updated | date:'short'}}</p>
                    </div>
                    <div *ngIf="v == 'current'" class="col-md-6 text-center">
                      <p>Warning! Deleting this version will make the previous version the current one.</p>
                      <button type="button" class="btn btn-danger" [disabled]="fileCS.listKeysAll.length == 1"
                        (click)="deleteModal.show()">Delete</button>
                      <p *ngIf="fileCS.listKeysAll.length == 1">You cannot delete the only version.</p>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            <div class="col-sm-12 col-md-8 offset-md-2 text-center">
              <br><br>
              <h5>
                Click this button to restore version v7 of the BoK. Warning! This will irreversible delete all other
                versions of the
                BoK!
              </h5>

              <input class="btn btn-primary" type="button" value="Recover v7" (click)="restoreModal.show()"
                [disabled]="!hasPermissions">
              <br><br>
            </div>

          </div>

        </div>
      </div>


      <div bsModal #deleteModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure you want to continue?</h4>
              <button type="button" class="close" (click)="deleteModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You are about the delete the current online version of the BoK. This will irreversibly delete this BoK
                version, and
                install the previous BoK version as current version. Are you sure you want to continue?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="deleteModal.hide()">Close</button>
              <button type="button" class="btn btn-danger" (click)="deleteVersionBoK(); deleteModal.hide()">Delete
                version</button>
            </div>
          </div>
        </div>
      </div>

      <div bsModal #restoreModal="bs-modal" class="modal fade" tabindex="-1" role="dialog"
        aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-danger" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title">Are you sure you want to continue?</h4>
              <button type="button" class="close" (click)="restoreModal.hide()" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <p>You are about to irreversibly delete all BoK versions, and restore the first BoK version (v1). Are you
                sure you want to
                continue?</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" (click)="restoreModal.hide()">Close</button>
              <button type="button" class="btn btn-danger" (click)="recoverV7(); restoreModal.hide()">Restore
                v1</button>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>