.footer-eo4geo {
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Roboto', sans-serif;
  background-image: url(assets/img/eo4geo_back_satellites.png);
  height: 50px;
}

.footer-eo4geo a {
  color: #73818f !important;
}
