<div class="app">
  <app-eo4geo-header></app-eo4geo-header>
  <div class="flex-row app-body">
    <main class="main d-flex align-items-center">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-6">
            <div class="clearfix">
              <h1 class="float-left display-3 mr-4">500</h1>
              <h4 class="pt-3">Houston, we have a problem!</h4>
              <p class="text-muted">The page you are looking for is temporarily unavailable.</p>
              <button class="btn btn-primary text-center" type="button" routerLink="/upload">Go to home page</button>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
  <app-eo4geo-footer></app-eo4geo-footer>
</div>
