<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Upload Bok
      </h1>
      <div class="text-center" [hidden]="!isAnonymous">
        <h5>You have limited functionality because you are not logged in with the right user. Log out and <a href="#" routerLink="/login"> Login </a> to
          use all functionality in the tool.
        </h5>
      </div>
      <div class="text-center" *ngIf="!isAnonymous && !hasPermissions">
        <h5>You do not have permissions </h5>
      </div>
      <div>
        <span></span>
        <h5>
          Import here a JSON file directly exported from the Living Text Book with the simple linked node format. And that version of the BoK will replace the current version in our tools.
        </h5>
      </div>
      <div class="input-group col-sm-12 col-md-12 col-lg-12" >
        <div class="input-group-prepend ">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file ">
          <input #jsonInput
                 type="file"
                 (change)="uploadFile($event)" class="custom-file-input" id="uploadFile" [disabled]="!hasPermissions">
          <label class="custom-file-label" for="uploadFile">Choose file</label>
        </div>
        <div class="alert alert-success" role="alert" [hidden]="successUpload">
          File successfully uploaded
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="errorUpload">
          File was not upload.  {{ errorText }}
        </div>
      </div>
      <div>
        <br><br>
        <h5>
         Click this button to recover until v7 in the BoK
        </h5>

        <input class="btn btn-primary" type="button" value="Recover v7" (click)="recoverv7()" [disabled]="!hasPermissions">

      </div>
      <div>
        <br><br>
        <h5>
         Click this button to force the creation of the full BoK API 
        </h5>

        <input class="btn btn-primary" type="button" value="Force API creation" (click)="forceBoKAPICreation()" [disabled]="!hasPermissions">

      </div>
    </div>
  </div>
</div>


