<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <h1 class="title">
        Compare BoK versions
      </h1>

            <div class="text-center" [hidden]="!isAnonymous">
              <h5>You have limited functionality because you are not logged in with the right user. Log out and <a href="#"
                  routerLink="/login"> Login </a> to
                use all functionality in the tool.
              </h5>
            </div>


      <div class="row" *ngIf="!fileCS.loading">
        <div class="col-sm-12 col-md-4 offset-md-2">
          <h3>Current </h3>
          <br>
          <p>Total Concepts : {{fileCS.comparison.current.conceptsCount}}</p>
          <p>Total Skills : {{fileCS.comparison.current.skillsCount}}</p>
          <p>Total Relations : {{fileCS.comparison.current.relationsCount}}</p>
          <p>Total External Resouces : {{fileCS.comparison.current.externalresCount}}</p>
        </div>


        <div class="col-sm-12 col-md-4">
          <h3>New </h3>
          <br>
          <p>Total Concepts : {{fileCS.comparison.new.conceptsCount}} <span class="text-danger"
              *ngIf="fileCS.comparison.new.conceptsCount - fileCS.comparison.current.conceptsCount != 0"> (
              {{fileCS.comparison.new.conceptsCount - fileCS.comparison.current.conceptsCount > 0 ? '+' : ''}}
              {{fileCS.comparison.new.conceptsCount - fileCS.comparison.current.conceptsCount}}) </span> </p>
          <p>Total Skills : {{fileCS.comparison.new.skillsCount}} <span class="text-danger"
              *ngIf="fileCS.comparison.new.skillsCount - fileCS.comparison.current.skillsCount != 0"> (
              {{fileCS.comparison.new.skillsCount - fileCS.comparison.current.skillsCount > 0 ? '+' : ''}}
              {{fileCS.comparison.new.skillsCount - fileCS.comparison.current.skillsCount}}) </span> </p>
          <p>Total Relations : {{fileCS.comparison.new.relationsCount}} <span class="text-danger"
              *ngIf="fileCS.comparison.new.relationsCount - fileCS.comparison.current.relationsCount != 0"> (
              {{fileCS.comparison.new.relationsCount - fileCS.comparison.current.relationsCount > 0 ? '+' : ''}}
              {{fileCS.comparison.new.relationsCount - fileCS.comparison.current.relationsCount}}) </span> </p>
          <p>Total External Resouces : {{fileCS.comparison.new.externalresCount}} <span class="text-danger"
              *ngIf="fileCS.comparison.new.externalresCount - fileCS.comparison.current.externalresCount != 0"> (
              {{fileCS.comparison.new.externalresCount - fileCS.comparison.current.externalresCount > 0 ? '+' : ''}}
              {{fileCS.comparison.new.externalresCount - fileCS.comparison.current.externalresCount}}) </span> </p>
        </div>

        <div class="col-sm-6 col-md-2">
          <h3>Actions </h3>
          <button type="button" class="btn btn-danger mr-4">Discard </button>
          <button type="button" class="btn btn-success">Publish </button>
        </div>
      </div>

      <div class="row" *ngIf="!fileCS.loading">
        <div class="col-sm-12 col-md-8 offset-md-2">

          <table class="table">
            <thead>
              <tr>
                <th scope="col">Concepts differences: </th>
                <th scope="col">({{fileCS.comparison.addedConceptsIndex.length +
                  fileCS.comparison.removedConceptsIndex.length}})</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of fileCS.comparison.removedConceptsIndex">
                <td>[{{fileCS.currentBoK.concepts[c].code}}] {{fileCS.currentBoK.concepts[c].name}}
                  <span class="text-danger" *ngIf="fileCS.currentBoK.concepts[c].code == ' '">Warning: No code
                    detected</span>
                </td>
                <td class="text-danger">(x)</td>
              </tr>
              <tr *ngFor="let c of fileCS.comparison.addedConceptsIndex">
                <td class="text-danger">(x)</td>
                <td>[{{fileCS.newBoK.concepts[c].code}}] {{fileCS.newBoK.concepts[c].name}}
                  <span class="text-danger" *ngIf="fileCS.newBoK.concepts[c].code == ' '">Warning: No code
                    detected</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="row" *ngIf="!fileCS.loading && fileCS.comparison.new.loopingRelations.length > 0">
        <div class="col-sm-12 col-md-8 offset-md-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Self referencing relations:</th>
                <th scope="col">({{fileCS.comparison.new.loopingRelations.length}})</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rel of fileCS.comparison.new.loopingRelations">
                <td>[{{fileCS.newBoK.concepts[rel.source].code}}] {{fileCS.newBoK.concepts[rel.source].name}}
                  <span class="text-danger" *ngIf="fileCS.newBoK.concepts[rel.source].code == ' '">Warning: No code
                    detected</span>
                </td>
                <td>({{rel.relationName}})</td>
                <td>[{{fileCS.newBoK.concepts[rel.target].code}}] {{fileCS.newBoK.concepts[rel.target].name}}
                  <span class="text-danger" *ngIf="fileCS.newBoK.concepts[rel.source].code == ' '">Warning: No code
                    detected</span>
                </td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>

      <div class="row" *ngIf="!fileCS.loading && fileCS.comparison.new.isolatedNodes.length > 0">
        <div class="col-sm-12 col-md-8 offset-md-2">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Orphan concepts:</th>
                <th scope="col">({{fileCS.comparison.new.isolatedNodes.length}})</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let c of fileCS.comparison.new.isolatedNodes">
                <td>[{{c.code}}] {{c.name}}
                  <span class="text-danger" *ngIf="c.code == ' '">Warning: No code
                    detected</span>
                </td>
                <td></td>
              </tr>
            </tbody>
          </table>

        </div>
      </div>






      <!-- 
      <div class="text-center" [hidden]="!isAnonymous">
        <h5>You have limited functionality because you are not logged in with the right user. Log out and <a href="#" routerLink="/login"> Login </a> to
          use all functionality in the tool.
        </h5>
      </div>
      <div class="text-center" *ngIf="!isAnonymous && !hasPermissions">
        <h5>You do not have permissions </h5>
      </div>
      <div>
        <span></span>
        <h5>
          Import here a JSON file directly exported from the Living Text Book with the simple linked node format. And that version of the BoK will replace the current version in our tools.
        </h5>
      </div>
      <div class="input-group col-sm-12 col-md-12 col-lg-12" >
        <div class="input-group-prepend ">
          <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
        </div>
        <div class="custom-file ">
          <input #jsonInput
                 type="file"
                 (change)="uploadFile($event)" class="custom-file-input" id="uploadFile" [disabled]="!hasPermissions">
          <label class="custom-file-label" for="uploadFile">Choose file</label>
        </div>
        <div class="alert alert-success" role="alert" [hidden]="successUpload">
          File successfully uploaded
        </div>
        <div class="alert alert-danger" role="alert" [hidden]="errorUpload">
          File was not upload.  {{ errorText }}
        </div>
      </div>
      <div>
        <br><br>
        <h5>
         Click this button to recover until v6 in the BoK
        </h5>

        <input class="btn btn-primary" type="button" value="Recover v6" (click)="recoverv6()" [disabled]="!hasPermissions">

      </div> -->


    </div>
  </div>
</div>