// Variable overrides
$theme-colors: ('primary': #324d55,
  'secondary': #ef9a3d,
  'danger': #d45649,
  'success': #5eb09b);

$primary: #324d55;
$secondary: #d97947;
$gray-body: #6b7379;
$danger: #d45649;
$success: #5eb09b;