// Variable overrides
$theme-colors: ('primary': #1a80b6,
  'secondary': #ef9a3d,
  'danger': #d45649,
  'success': #5eb09b);

$primary: #1a80b6;
$secondary: #ef9a3d;
$gray-body: #6b7379;
$danger: #d45649;
$success: #5eb09b;